/* general */
body{
	padding-top: 80px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	background-image: url('../images/background.png');
}

a:hover {
	cursor: auto !important;
	color: #8AE3B3 !important;
}

.panel-title h3 {
	margin: 0;
}

.text-red {
	color: red;
}

/* map */
div#map {
  height: 500px;
  width: 100%;
}

/* search box in map */
.search-box {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#search-input {
	float: left;
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 350px;
}

.search-box button {
	float: left;
	width: 80px;
	padding: 1px;
}

/* table drivers & user requests */
.table-container {
  max-height: 500px;
  overflow-y: auto;
}

.table-driver, .table-user {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.table-driver tbody, .table-user tbody {
	max-height: 500px;
	overflow-y: auto;
}

.table-driver tbody tr:hover, .table-user tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}

.table-driver tbody tr td, .table-user tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}

.table-driver tbody tr.selected td, .table-user tbody tr.selected td {
	background-color: #eee;
}

.table-driver tr td:first-child {
	width: 38px;
}


.table-user td.type > p.premium {
	color: #EC971F;
}

.table-user td.type > p.normal {
	color: #31708F;
}

.table-user p.done {
	color: #da1a1a;
}

.table-user .divider {
    border-right: 1px dashed #DDDDDD;
}

.table-user thead tr > th, .table-user tbody tr > td {
    text-align: center;	
}

.table-user td.request {
	max-width: 250px;
	text-align: left;
}

.table-user td.regDate {
	width: 95px;
}

.table-user td > p {
	margin: 0px;
} 

/* .table-driver tr td:nth-child(2) {
	width: 35px;
} */

.radio-box, .check-box {
	position: relative;
}

.radio-box input[type="radio"], .check-box input[type="check"] {
	opacity: 0;
}

.radio-box label, .check-box label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio-box label:before, .check-box label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}

.radio-box input[type="radio"]:checked + label:before, .check-box input[type="check"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}

.radio-box input[type="radio"]:checked + label:after, .check-box input[type="check"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}

.table-driver .star {
	color: #ccc;
	text-align: center;
	display: block;
}

.table-driver .star.star-checked {
	color: #F0AD4E;
}

.table-driver .star:hover {
	color: #ccc;
}

.table-driver .star.star-checked:hover {
	color: #F0AD4E;
}

.table-driver .media-photo {
	width: 40px;
}

.table-driver .media-body {
  display: block;
  width: unset;  
}

.table-driver .media-meta {
	font-size: 11px;
	color: #999;
}

.table-driver .media .driver-name {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}

.table-driver .media .driver-name span {
	font-size: .8em;
	margin-right: 20px;
	float: right;
}

.table-user p.ready, .table-driver .media .driver-name span.ready {
	color: #5cb85c;
}

.table-user p.pending, .table-driver .media .driver-name span.pending {
	color: #f0ad4e;
}

.table-user p.cancel, .table-driver .media .driver-name span.cancel {
	color: #d9534f;
}

.table-user p.selected, .table-driver .media .driver-name span.selected {
	color: #29b8c2;
}

.table-user p.done {
	color: #da1a1a;
}

.table-driver .media .summary {
	font-size: 14px;
}

.table-driver .media .summary .rating {
  float: left;
  width: 100%;
}

/* button */
.btn-flat {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

/* infowindow */
#infowindow-content {
	max-width: 150px;
	display: none;
}

#infowindow-content #user-name {
	text-transform: capitalize;
}

/* footer */
.content-footer p {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
}

/* tab */
.point-info {
	border: 1px solid #bce8f1;
}

.nav.nav-tabs {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.nav.nav-tabs li.active > a {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.nav.nav-tabs li > a > h4 {
	margin: 3px;
}	

.tab-content {
	padding: 15px;
	background: white;
}

.tab-pane > .alert {
	margin: 0px;
	border-radius: 0px;
}

/* tab driver */
.tab-pane {
	border: 1px solid #ddd;
}

#img-driver {
	margin: auto;
}

/* tab direction */
.tab-pane#direction {
	overflow-y: auto;
	max-height: 500px;
	margin-bottom: 0px;
}

/* button */
.group-btn-action {
	margin-bottom: 10px;
}

/* modal loading icon */
.modal.in {
	padding-right: 0px !important;
}

.modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
}

.modal-content {
	border-radius: 0px;
	height: inherit;
	background: rgba(255, 255, 255, 0.8);
}

img#loading-icon {
	margin-top: 250px;
}

#loading-msg {
    margin-top: 10px;
	color: rgba(169, 79, 79, 0.73);
}

/*navbar-nav nav-admin*/
.navbar-nav.nav-admin {
	margin-left: 275px;
}

.navbar-nav.nav-admin li:first-child > a {
	padding: 12px 0px;
}

/*notification*/
.notify {
	position: relative;
}

.notify .notify-num {
	position: absolute;
	top: 10px;
	left: 15px;
	color: red;
}