<template>
  <div class="row">
      <div class="col-md-12 col-lg-12">
      	<div id="direction" v-if="point != null"></div>
        <p v-else class="text-danger">No thing to show</p>
      </div>
  </div>
</template>

<script>
export default {

  name: 'direction',
  data () {
    return {
      directionsDisplay: null
    }
  },
  computed: {
  	point() {
      return this.$store.getters.point;
    },
    map() {
      return this.$store.getters.map;
    },
    driver() {
      return this.$store.getters.driver;
    },
  },
  watch: {
    driver(value) {

      if(value) {
        if(this.directionsDisplay) {
          this.directionsDisplay.setDirections({routes: []});
          this.directionsDisplay = null;
        }
        let directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer({
            map: this.map,
            suppressMarkers : true
        });
        this.directionsDisplay.setPanel(document.getElementById('direction'));
        let driverLocation = {
            lat: parseFloat(this.driver.lat),
            lng: parseFloat(this.driver.lng)
        };
        let pointLocation = {
            lat: parseFloat(this.point.lat),
            lng: parseFloat(this.point.lng)
        };
        let self = this;
        directionsService.route({
            origin: driverLocation,
            destination: pointLocation,
            avoidTolls: true,
            avoidHighways: false,
            travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                self.directionsDisplay.setDirections(response);
                // showStep(response);
            } else {
                console.log('Directions request failed due to ' + status);
            }
        });
      } else {
        
      }
    }
  },
  components: {
  }
}
</script>

<style lang="css" scoped>
</style>