<template>
<div class="row" v-if="driver != null">
    <div class="col-md-12 col-lg-12">
        <img src="../assets/images/driver.png" alt="DImage" id="img-driver" class="img-circle img-responsive">
    </div>
    <div class="col-md-12 col-lg-12 text-center driver-info">
      <h4>{{driver.description}}</h4>
      <p>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
      </p>
      <p>
          <i class="glyphicon glyphicon-map-marker"></i> {{driver.pickAddress}}
      </p>
      <p><i class="glyphicon glyphicon-phone"></i> Type: {{typeDriver}}</p>
      <p><i class="glyphicon glyphicon-phone"></i> Distance: {{driver.distance}}m</p>
    </div>
</div>
</template>

<script>
export default {

  name: 'driver',
  data () {
    return {

    }
  },
  computed: {
    driver() {
      return this.$store.getters.driver;
    },
  	typeDriver() {
  		switch(this.driver.type) {
	        case 1:
	            return 'Normal';
	            break;
	        case 2: 
	            return 'Premium';
	            break;
	    }
  	}
  },
  methods: {
  	
  }
}
</script>

<style lang="css" scoped>

#img-driver {
  margin: auto;
}
</style>