<template>
	<div id="home">
    <points :points="points"></points>
    <br>
		<google_map></google_map>
    <tabs></tabs>
	</div>
</template>

<script>
import points from './points.vue';
import tabs from './tabs.vue';
import google_map from './map.vue';

import Firebase from 'firebase';

let config = {
    apiKey: "AIzaSyAxU9sfkJp-IQ7VSUjI7F1j4F4zLAla-vc",
    authDomain: "barg-car-picker.firebaseapp.com",
    databaseURL: "https://barg-car-picker.firebaseio.com",
    projectId: "barg-car-picker",
    storageBucket: "barg-car-picker.appspot.com",
    messagingSenderId: "167070661452"
};
let app = Firebase.initializeApp(config);
let db = app.database();

export default {

  name: 'home',
  firebase: {
    points: db.ref('customerinfo'),
  },
  data () {
    return {
    }
  },
  computed: {
    
  },
  created() {
    
  },
  components: {
  	points,
  	google_map,
    tabs
  }
}
</script>

<style lang="css" scoped>
</style>