<template>
	<div class="col-md-7 col-sm-8 col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h3>Map</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="search-box" id="search-box">
                            <input id="search-input" type="text" v-model="input" placeholder="Enter a place">
                            <button type="button" id="btn-search" class="btn btn-sm btn-flat btn-block btn-info" @click="onSearch">Search</button>
                        </div>
                        <div id="map"></div>
                        <div id="infowindow-content">
                            <img src="../assets/images/user.png" width="16" height="16" id="place-icon">
                            <b id="name" class="title"></b><br>
                            <span id="phone"></span><br>
                            <span id="address"></span><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {HTTP} from '../http'

export default {

  name: 'google_map',

  data () {
    return {
    	map: null,
    	pointMarker: null,
      driverMarker: null,
    	input: '',
      infowindowContent: null,
      infowindow: null
    }
  },
  computed: {
  	point() {
      if(this.pointMarker) {
        let position = {lat: this.$store.getters.point.lat, lng: this.$store.getters.point.lng};
        this.pointMarker.setPosition(position);
        this.map.setCenter(position);
      }
  		return this.$store.getters.point;
  	},
    driver() {
      return this.$store.getters.driver;
    },
  },
  mounted() {
    const options = {
      zoom: 14,
      center: new google.maps.LatLng(10.762670, 106.682558),
      // draggable: true
    };
    this.map = new google.maps.Map(document.getElementById('map'), options);
    var searchBox = document.getElementById('search-box');
    this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(searchBox);

    // map click listener
    this.map.addListener('click', function(event) {
        
    });
    this.$store.commit('setMap', this.map);

  },
  watch: {
    point(value) {
      if(value && this.$store.getters.point) {
        if(this.pointMarker) {
          this.pointMarker.setPosition({lat: this.$store.getters.point.lat, lng: this.$store.getters.point.lng});
        } else {

          let icon = {
              url: '/dist/user.png?1618a6935fbdc48261c425f3d6f85e3b',
              size: new google.maps.Size(20, 35),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(0, 32)
          };
          let position = new google.maps.LatLng(this.$store.getters.point.lat, this.$store.getters.point.lng);
          this.pointMarker = new google.maps.Marker({
            position: position,
            icon: icon,
            title: this.point.name,
            map: this.map
          });
          this.map.setZoom(16);
          this.map.setCenter(position);
          let self = this;
          this.infowindowContent = document.getElementById('infowindow-content');
          this.infowindow = new google.maps.InfoWindow();
          this.pointMarker.addListener('click', function(event) {
            self.infowindow.setContent(self.infowindowContent);
            self.infowindowContent.children['name'].textContent = self.point.customerName;
            self.infowindowContent.children['phone'].textContent = self.point.phoneNumber;
            self.infowindowContent.children['address'].textContent = self.point.address;
            self.infowindowContent.style.display = 'block';
          });
        }
      } else {
        if(this.pointMarker) {
            this.pointMarker.setMap(null);
            this.pointMarker = null;
        }
      }
    },
    driver(value) {
      if(value && this.$store.getters.driver) {
        if(this.driverMarker) {
          this.driverMarker.setPosition({lat: this.$store.getters.driver.lat, lng: this.$store.getters.driver.lng});
        } else {

          let self = this;
          let location = { 
              lat: this.$store.getters.driver.lat, 
              lng: this.$store.getters.driver.lng 
          };
          let icon = {
              url: '/dist/car.png?b78e01433b46b6745c29f4fda7197c87',
              size: new google.maps.Size(20, 35),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(0, 32)
          };
          this.driverMarker = new google.maps.Marker({
              position: location,
              map: self.map,
              title: driver.description,
              icon: icon
          });
        }
      } else {
        if(this.driverMarker) {
          this.driverMarker.setMap(null);
        }
      }
    }
  },
  methods: {
  	onSearch() {
      // this.$store.dispatch('geocode', {
      //   address: this.input
      // });
      // this.input = '';
  	}
  }
}
</script>

<style lang="css" scoped>
/* map */
div#map {
  height: 500px;
  width: 100%;
}
#infowindow-content {
  display: none !important;
}
.search-box {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
	width: 65%;
}

#search-input {
	float: left;
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 80%;
}

.search-box button {
	float: left;
	width: 20%;
	padding: 1px;
}
</style>