<template>
  <transition name="modal" v-if="showModal">
     <div class="modal" style="display: block">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click="hideModal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
              User Request #{{point.id}}
            </h4>
          </div>
          <div class="modal-body">
            <div class="list-group text-left">
              <a href="javascript:void(0);" class="list-group-item">
                <h4 class="list-group-item-heading">Customer Name</h4>
                <p class="list-group-item-text">{{point.customerName}}</p>
              </a>
              <a href="javascript:void(0);" class="list-group-item">
                <h4 class="list-group-item-heading">Phone Number</h4>
                <p class="list-group-item-text">{{point.phoneNumber}}</p>
              </a>
              <a href="javascript:void(0);" class="list-group-item">
                <h4 class="list-group-item-heading">Address</h4>
                <p class="list-group-item-text">{{point.address}}</p>
              </a>
              <a href="javascript:void(0);" class="list-group-item">
                <h4 class="list-group-item-heading">Reservation Date</h4>
                <p class="list-group-item-text">{{point.regDate}}</p>
              </a>
              <a href="javascript:void(0);" class="list-group-item">
                <h4 class="list-group-item-heading">Note</h4>
                <p class="list-group-item-text">{{point.note}}</p>
              </a>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="button" class="btn btn-flat btn-success" @click="onAgree">Agree</button>
                <button type="button" class="btn btn-flat btn-danger" @click="onReject">Reject</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition> 
</template>

<script>
import {HTTP} from '../http'
import querystring from 'querystring'
export default {

  name: 'modal',
  data () {
    return {

    }
  },
  computed: {
    showModal() {
      return this.$store.getters.showModal;
    },
    point() {
      return this.$store.getters.point;
    }
  },
  methods: {
    hideModal() {
      this.$store.commit('setShowModal', false);
    },
    onAgree() {
      this.$store.dispatch('loadUserFromFB', {
        id: this.point.id
      });
      this.hideModal();
      // document.getElementById('tr-'+this.point.id).className = 'active';
      document.getElementById('btn-'+this.point.id).innerText = 'Selected';
    },
    onReject() {
      let data = {
        carsig: this.$store.getters.sig,
        driverName: this.$store.getters.car.driverName,
        id: this.point.id
      };
      HTTP.post('rejecttraveling', querystring.stringify(data)).then((response) => {
        let result = response.data;
        document.getElementById('tr-'+this.point.id).style.display = 'none';
        this.hideModal();
      });
    }
  }
}
</script>

<style lang="css" scoped>
</style>