<template>
<div class="col-md-5 col-sm-4 col-lg-4">
    <div class="point-info">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
            	<a href="#driver" aria-controls="driver" role="tab" data-toggle="tab"><h4>Driver Info</h4></a>
            </li>
            <li role="presentation">
            	<a href="#direction" aria-controls="direction" role="tab" data-toggle="tab"><h4>Direction Guide</h4></a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" v-if="point != null">
            <div role="tabpanel" class="tab-pane active" id="driver">
              <driver></driver>
            </div>
            <div role="tabpanel" class="tab-pane" id="direction">
	            <direction></direction>
	        </div>
        </div>
    </div>
</div>
</template>

<script>
import direction from './direction.vue'
import driver from './driver.vue'
export default {

  name: 'tabs',

  data () {
    return {

    }
  },
  computed: {
  	driver() {
  		return this.$store.getters.driver;
  	},
    point() {
      return this.$store.getters.point;
    }
  },
  components: {
  	direction,
    driver
  }
}
</script>

<style lang="css" scoped>

.nav.nav-tabs {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.nav.nav-tabs li.active > a {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.nav.nav-tabs li > a > h4 {
	margin: 3px;
}	

.tab-content {
	padding: 15px;
	background: white;
}

.tab-pane > .alert {
	margin: 0px;
	border-radius: 0px;
}

/* tab driver */
.tab-pane {
	border: 1px solid #ddd;
}

/* tab direction */
.tab-pane#direction {
	overflow-y: auto;
	max-height: 500px;
	margin-bottom: 0px;
}
</style>