<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h3>List User Requests</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="group-btn-action pull-left">
                                {{!-- <button type="button" class="btn btn-large btn-danger btn-flat" onclick="removeRequest(this);" id="remove">Remove</button> --}}
                                <button type="button" class="btn btn-large btn-warning btn-flat" onclick="clearAllRequest(this);" id="clear">Remove All</button>
                            </div>
                            <div class="pull-right notify">
                                <img src="/images/bell.png" width="35" alt="Notification icon">
                                <b class="notify-num">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12" align="center"> 
                            <div class="table-container">
                                <table class="table table-user">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="divider"></th>
                                            <th>#ID</th>
                                            <th>#Name</th>
                                            <th>#Phone</th>
                                            <th>#Address</th>
                                            <th>#CarType</th>
                                            <th>#Time</th>
                                            <th class="divider">#Note</th>
                                            <th>#CarID</th>
                                            <th>#Status</th>
                                            <th>#Locator</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-8 col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h3>Map</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12"> 
                            <div id="map"></div>
                            <div id="infowindow-content">
                                <img src="/images/driver.png" width="16" height="16" id="place-icon">
                                <b id="user-name" class="title"></b><br>
                                <span id="user-phone"></span><br>
                                <span id="user-address"></span><br>
                                <span id="point-status"></span><br>
                                <span id="car-type"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-4 col-lg-4">
            <div class="point-info">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#driver" aria-controls="driver" role="tab" data-toggle="tab"><h4>Driver Info</h4></a></li>
                    <li role="presentation"><a href="#direction" aria-controls="direction" role="tab" data-toggle="tab" onclick="getDirection(this);"><h4>Direction Guide</h4></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="driver">
                        <div class="row hidden">
                            <div class="col-md-12 col-lg-12">
                                <img src="/images/driver.png" alt="Driver Image" id="img-driver" class="img-circle img-responsive">
                            </div>
                            <div class="col-md-12 col-lg-12 text-center driver-info"></div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="direction"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Vaui8I7KrjSYxEM0Hv_MwH5u3NhlKAI&callback=initMap">
</script>
{{!-- <footer>
    <div class="content-footer">
        <p>
            Page © - 2017 <br>
            Powered By PN
        </p>
    </div>
</footer> --}}