<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h3>List User Requests</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="group-btn-action pull-left">
                                {{!-- <button type="button" class="btn btn-large btn-danger btn-flat" onclick="removeRequest(this);" id="remove">Remove</button> --}}
                                <button type="button" class="btn btn-large btn-warning btn-flat" onclick="clearAllRequest(this);" id="clear">Remove All</button>
                            </div>
                            <div class="pull-right notify">
                                <img src="/images/bell.png" width="35" alt="Notification icon">
                                <b class="notify-num">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12" align="center"> 
                            <div class="table-container">
                                <table class="table table-user">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="divider"></th>
                                            <th>#ID</th>
                                            <th>#Name</th>
                                            <th>#Phone</th>
                                            <th>#Address</th>
                                            <th>#CarType</th>
                                            <th>#Time</th>
                                            <th class="divider">#Note</th>
                                            <th>#CarID</th>
                                            <th>#Status</th>
                                            <th>#Locator</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-8 col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h3>Map</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12"> 
                            <div class="search-box" id="search-box">
                                <input id="search-input" type="text" placeholder="Enter a place">
                                <button type="button" id="btn-search" class="btn btn-sm btn-flat btn-block btn-info">Search</button>
                            </div>
                            <div id="map"></div>
                            <div id="infowindow-content">
                                <img src="/images/driver.png" width="16" height="16" id="place-icon">
                                <b id="driver-name" class="title"></b><br>
                                <span id="driver-phone"></span><br>
                                <span id="driver-type"></span><br>
                                <span id="place-address"></span><br>
                                <span id="driver-distance" class="title"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-4 col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h3>List Drivers</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" id="btn-find-car">
                        <div class="col-md-12 col-lg-12">
                            <button type="button" class="btn btn-flat btn-block btn-success" disabled="disabled" onclick="findCar(this);">Find Car</button>
                        </div>
                    </div>
                    <div class="row hidden" id="list-cars">
                        <div class="col-md-12 col-lg-12" align="center"> 
                            <div class="table-container">
                                <table class="table table-driver">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row hidden" id="btn-confirm">
                        <div class="col-md-12 col-lg-12">
                            <button type="button" class="btn btn-flat btn-block btn-success" onclick="verifyRequest();">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img id="test" src="/images/car-icon.png"/ style="display:none">
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Vaui8I7KrjSYxEM0Hv_MwH5u3NhlKAI&callback=initMap">
</script>
{{!-- <footer>
    <div class="content-footer">
        <p>
            Page © - 2017 <br>
            Powered By PN
        </p>
    </div>
</footer> --}}