<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Locator App</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
                </ul>
                {{#if isLogined}}
                <ul class="nav navbar-nav nav-admin">
                    <li>
                        <a href="javascripts:void(0);"><img class="img-responsive" width="25" src="/images/driver.png" alt="Admin photo"></a>
                    </li>
                    <li><a href="javascripts:void(0);">Welcome {{admin}}</a></li>
                </ul>
                {{/if}}
                <ul class="nav navbar-nav navbar-right">
                {{#if isLogined}}
                    <li><a href="javascripts:void(0);" onclick="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
                {{else}}
                    <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
                {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
    <div class="modal" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="row text-center">
                    <img id="loading-icon" src="/images/loading.gif" />
                    <div id="loading-msg">
                        <b>Please wait</b>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->    
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/map.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="/javascripts/firebase.js"></script>
  </body>
</html>
