<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <form id="form-login" action="/users/login" method="post">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <h2 class="text-center">Login</h2>
                            <hr>
                            {{#if error}}
                            <div class="form-group">
                                <div class="alert alert-danger">
                                    <p>{{error}}</p>
                                </div>
                            </div>
                            {{/if}}
                            <div class="form-group">
                                <label for="username">Username <span class="text-red">*</span></label>
                                <input type="text" id="username" class="form-control" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password <span class="text-red">*</span></label>
                                <input type="password" id="password" class="form-control" name="password" required maxlength="15">
                            </div>
                            <p class="text-red">* is required</p>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-success btn-flat btn-block">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
