<template>
	<tr data-status="open" class="driver-tr" :id="'driver-'+driver.id" @click="chooseDriver">
        <td>
            <div class="radio-box">
                <input type="radio" :id="'radio-box-'+driver.id" name="driver-selected" :value="driver.id">
                <label :for="'radio-box-'+driver.id" data-type="driver"></label>
            </div>
        </td>
        <td>
            <div class="media">
                <a href="javascript:void(0);" class="pull-left">
                    <img src="../assets/images/driver.png" alt="DImage" class="media-photo">
                </a>
                <div class="media-body">
                    <h4 class="driver-name status">
                        {{driver.description}}
                        <span class="open">open</span>
                    </h4>
                    <div class="summary">
                        <div class="pull-left">
                            <p :class="'type ' + typeDriver">Type: {{typeDriver}}</p>
                            <p>Distance: {{driver.distance}}m</p>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</template>

<script>
export default {

  name: 'driver',
  props: ['driver'],
  data () {
    return {

    }
  },
  computed: {
  	typeDriver() {
  		switch(this.driver.type) {
	        case 1:
	            return 'Normal';
	            break;
	        case 2: 
	            return 'Premium';
	            break;
	    }
  	}
  },
  methods: {
  	chooseDriver() {
  		let trs = document.getElementsByClassName('driver-tr');
        for(let i=0;i<trs.length;i++) {
            trs[i].className = '';
        }
  		document.getElementById('driver-'+this.driver.id).className = 'active';
        document.getElementById('radio-box-'+this.driver.id).checked = 'true';
        this.$store.commit('setDriverSelected', this.driver);
  	}
  }
}
</script>

<style lang="css" scoped>
</style>