<template>
<div class="col-md-5 col-sm-4 col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h3>List Drivers</h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" v-if="show" id="btn-find-car">
                <div class="col-md-12 col-lg-12">
                    <button v-if="point != null" type="button" class="btn btn-flat btn-block btn-success" @click="findCar">Find Car</button>
                </div>
            </div>
            <div class="row" v-else id="list-cars" >
                <div class="col-md-12 col-lg-12" align="center">
                    <div class="table-container" v-if="!loading">
                        <table class="table table-driver" v-if="drivers.length != 0">
                            <tbody>
                              <driver v-for="driver in drivers" :key="driver.id" 
                                :driver="driver"
                              ></driver>
                            </tbody>
                        </table>
                        <div v-else class="text-danger">No car found</div>
                    </div>
                    <div class="table-container" v-else>
                        <div class="text-info">Searching.....</div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="drivers == null || drivers.length != 0" id="btn-confirm">
                <div class="col-md-12 col-lg-12">
                    <button type="button" v-if="!show" class="btn btn-flat btn-block btn-success" @click="verifyRequest">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import driver from './driver'
export default {

  name: 'drivers',

  data () {
    return {
      show: true
    }
  },
  computed: {
    point() {
      if(this.$store.getters.point == null) {
        this.show = true;
      }
      return this.$store.getters.point;
    },
    drivers() {
      return this.$store.getters.drivers;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
  	findCar() {
      this.$store.dispatch('findDrivers', null);
      this.show = false;
  	},
  	verifyRequest() {
      this.$store.dispatch('verifiedRequest', null);
      this.show = true;
  	}
  },
  components: {
    driver
  }
}
</script>

<style lang="css" scoped>
</style>