<template>
    <div class="col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
        <form id="form-login">
            <div class="panel panel-default">
                <div class="panel-body">
                        <h2 class="text-center">Login</h2>
                        <hr>
                        <!-- {{#if error}} -->
                        <div v-if="error" class="form-group">
                            <div class="alert alert-danger">
                                <p>{{error}}</p>
                            </div>
                        </div>
                        <!-- {{/if}} -->
                        <div class="form-group">
                            <label for="username">Username <span class="text-red">*</span></label>
                            <input type="text" id="username" class="form-control" name="username" required v-model="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password <span class="text-red">*</span></label>
                            <input type="password" id="password" class="form-control" name="password" required maxlength="15" v-model="password">
                        </div>
                        <p class="text-red">* is required</p>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success btn-flat btn-block" @click.prevent="onLogin">Login</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script> 
import { HTTP } from '../http.js';
import querystring from 'querystring';

export default {

  name: 'login',

  data () {
    return {
    	error: '',
    	username: '',
    	password: ''
    }
  },
  methods: {
  	onLogin() {
  		HTTP.post('login', querystring.stringify({
  			username: this.username,
  			password: this.password,
        role: 2
  		})).then((response) => {
        console.log(response.data)
        let result = response.data;
        if(result.returncode != 1) {
          this.error = result.returnmessage;
        } else {
          this.error = '';
          this.$store.commit('setUser', result.admininfo);
          this.$router.push('/');
        }
  		}).catch((err) => {
          console.log("Error:" + err);
          this.error = err;
      });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>