<template>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Locator App</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><router-link to="/">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home
                    </router-link></li>
                </ul>
                <ul class="nav navbar-nav nav-admin" v-if="isAuthenticated">
                    <li>
                        <a href="javascripts:void(0);"><img class="img-responsive" width="25" src="../assets/images/driver.png" alt="Photo"></a>
                    </li>
                    <li><a href="javascripts:void(0);">Welcome {{user.username}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li v-if="isAuthenticated">
                        <a href="javascripts:void(0);" @click="onLogout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a>
                    </li>
                    <li v-else>
                        <router-link to="/login">
                    	   <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {

  name: 'navbar',

  data () {
    return {

    }
  },
  computed: {
    isAuthenticated() {
        return this.$store.getters.user != null;
    },
    user() {
        return this.$store.getters.user;
    }
  },
  methods: {
    onLogout() {
        this.$store.commit('setUser', null);
        this.$router.push('/login');
    }
  }
}
</script>

<style lang="css" scoped>
</style>