<template>
	<tr :data-status="point.status" class="point-tr" :id="'tr-'+point.id" @click="onSelected">
        <td class="divider">
            <div class="radio-box">
                <input type="radio" :id="'radio-box-user-'+point.id" name="user-selected" disabled :value="point.id">
                <label :id="'radio-box-user-'+point.id" data-type="user"></label>
            </div>
        </td>
        <td>{{point.id}}</td>
        <td>{{point.customerName}}</td>
        <td class="phone">{{point.phoneNumber}}</td>
        <td class="request divider">{{point.address}}</td>
        <td :class="type">
            <p :class="type">{{type}}</p>
        </td>
        <td class="regDate">{{point.regDate}}</td>
        <td class="divider">{{point.description}}</td>
        <td class="car" v-if="point.carID != 0">{{point.carID}}</td>
        <td v-else></td>
        <td :class="status + ' divider'">
            <p :class="status">{{status}}</p>
        </td>
        <td class="admin">{{point.adminActor}}</td>
        
    </tr>
</template>

<script>
import {HTTP} from '../http.js';

export default {

  name: 'point-detail',
  props: ['point'],
  data () {
    return {
    }
  },
  methods: {
    onSelected() {
        if(this.point.status == 0 || (this.point.adminActor == this.$store.getters.user.username && this.point.status < 3)) {
            let trs = document.querySelectorAll('.table-user tr');
            for(let i=0;i<trs.length;i++) {
                trs[i].className = '';
            }
            document.getElementById('tr-'+this.point.id).className = 'active';
            document.getElementById('radio-box-user-'+this.point.id).checked = 'true';
            this.$store.commit('setPoint', this.point);
            this.$store.dispatch('updatePoint', {
                status: 1
            });
            this.$store.dispatch('geocode', {
                address: this.$store.getters.point.address
            });
        }
    }
  },
  watch: {
    isBusy(value) {
    },
  },
  computed: {
    status () {
        switch (this.point.status) {
            case 5: 
                return 'car not found';
                break;
            case 4: 
                return 'finished';
                break;
            case 3: 
                return 'begin';
                break;
            case 2:
                return 'verified';
                break;
            case 1:
                return 'processing';
                break;
            default:
                return 'ready';
                break;
        }
    },
    type () {
        switch(this.point.carType) {
            case 1:
                return 'Normal';
                break;
            case 2: 
                return 'Premium';
                break;
        }
    }
  },
  components: {
  }
}
</script>

<style lang="css" scoped>
tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}

tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}

tbody tr.selected td {
	background-color: #eee;
}

tr td:first-child {
	width: 38px;
}

p.Normal {
	color: #23D30B;
}

p.Premium {
	color: #E5A815;
}

</style>