<template>
	<div class="row">
    <div class="col-sm-12">
      <button v-if="isBusy == 0" type="button" class="btn btn-flat btn-block btn-success" @click="onStart"> Start</button>
      <button v-else type="button" class="btn btn-flat btn-block btn-warning" @click="onEnd">End</button>
    </div>
    </div>  
</template>

<script>
export default {

  name: 'actionButton',

  data () {
    return {
    }
  },
  computed: {
    isBusy() {
      return this.$store.getters.car.isBusy;
    }
  },
  methods: {
  	onStart() {
  		this.$store.dispatch('beginTravelling', null);
  	},
    onEnd() {
      this.$store.dispatch('endTravelling', null);
    }
  }
}
</script>

<style lang="css" scoped>
</style>