<template>
	<div class="col-md-5 col-sm-4 col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h3>Direction</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                    	<div id="direction"  v-if="user != null"></div>
                      <div v-else class="text-danger">No thing to show</div>
                    </div>
                </div>
            </div>
        </div>
        <actionButton v-if="user != null"></actionButton>
    </div>
</template>

<script>
import actionButton from './action.vue';
export default {

  name: 'direction',
  data () {
    return {
      directionsDisplay: null
    }
  },
  computed: {
  	user() {
      return this.$store.getters.user;
    },
    car() {
      return this.$store.getters.car;
    },
    map() {
      return this.$store.getters.map;
    }
  },
  watch: {
    user(value) {
      if(value) {
        if(this.directionsDisplay) {
          this.directionsDisplay.setDirections({routes: []});
          this.directionsDisplay = null;
        }
        let directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer({
            map: this.map,
            suppressMarkers : true
        });
        this.directionsDisplay.setPanel(document.getElementById('direction'));
        let pointLocation = {
            lat: parseFloat(this.user.lat),
            lng: parseFloat(this.user.lng)
        };
        let driverLocation = {
            lat: parseFloat(this.car.lat),
            lng: parseFloat(this.car.lng)
        };
        let self = this;
        directionsService.route({
            origin: driverLocation,
            destination: pointLocation,
            avoidTolls: true,
            avoidHighways: false,
            travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                self.directionsDisplay.setDirections(response);
                // showStep(response);
            } else {
                console.log('Directions request failed due to ' + status);
            }
        });
      } else {
        if(this.directionsDisplay) {
          this.directionsDisplay.setDirections({routes: []});
        }
      }
    }
  },
  components: {
    actionButton
  }
}
</script>

<style lang="css" scoped>
</style>