<template>
	<div id="home">
    <points :points="users"></points>
    <br>
		<google_map></google_map>
    <direction></direction>
	</div>
</template>

<script>
import points from './points.vue';
import google_map from './map.vue';
import direction from './direction.vue';

import Firebase from 'firebase';

let config = {
    apiKey: "AIzaSyAxU9sfkJp-IQ7VSUjI7F1j4F4zLAla-vc",
    authDomain: "barg-car-picker.firebaseapp.com",
    databaseURL: "https://barg-car-picker.firebaseio.com",
    projectId: "barg-car-picker",
    storageBucket: "barg-car-picker.appspot.com",
    messagingSenderId: "167070661452"
};
let app = Firebase.initializeApp(config);
let db = app.database();

export default {

  name: 'home',
  firebase: {
    points: db.ref('customerinfo'),
  },
  data () {
    return {
      key: ''
    }
  },
  computed: {
    users() {
      let user = [];
      let car = this.$store.getters.car;
      for(let i = 0; i < this.points.length; i++) {
        if (
          (this.points[i].status == 2 && this.points[i].carType == car.type) || 
          (this.points[i].status > 2 && this.points[i].carID == car.id)
        ) {
          user.push(this.points[i]);
        }
      }
      return user;
    }
  },
  created() {
    
  },
  components: {
  	points,
  	google_map,
    direction
  }
}
</script>

<style lang="css" scoped>
</style>