<template>
	<div class="col-md-7 col-sm-8 col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h3>Map</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="search-box" id="search-box">
                            <input id="search-input" type="text" v-model="input" placeholder="Enter a place">
                            <button type="button" id="btn-search" class="btn btn-sm btn-flat btn-block btn-info" @click="onSearch">Search</button>
                        </div>
                        <div id="map"></div>
                        <div id="infowindow-content">
                            <img src="../assets/images/user.png" width="16" height="16" id="place-icon">
                            <b id="name" class="title"></b><br>
                            <span id="phone"></span><br>
                            <span id="address"></span><br>
                            <span id="distance" class="title"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {HTTP} from '../http'

export default {

  name: 'google_map',

  data () {
    return {
    	map: null,
    	driverMarker: null,
    	userMarker: null,
    	input: ''
    }
  },
  computed: {
  	car() {
  		return this.$store.getters.car;
  	},
  	user() {
      let user = this.$store.getters.user;
  		return user;
  	}
  },
  mounted() {
    const options = {
      zoom: 16,
      center: new google.maps.LatLng(this.car.lat, this.car.lng)
    };
    this.map = new google.maps.Map(document.getElementById('map'), options);
    var searchBox = document.getElementById('search-box');
    this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(searchBox);

    // let icon = {
    //     url: '/dist/car.png?b78e01433b46b6745c29f4fda7197c87',
    //     size: new google.maps.Size(20, 35),
    //     origin: new google.maps.Point(0, 0),
    //     anchor: new google.maps.Point(0, 32)
    // };
    this.driverMarker = new google.maps.Marker({
    	position: options.center,
    	map: this.map,
      // icon: icon,
    	title: this.$store.getters.car.driverName
    });

    if(this.user) {
      
    }

    // map click listener
    let self = this;
    this.map.addListener('click', function(event) {
        // self.driverMarker.setMap(null);
        self.$store.dispatch('updateCar', {
        	lat: event.latLng.lat(),
        	lng: event.latLng.lng()
        });
        self.driverMarker.setPosition({lat: event.latLng.lat(), lng: event.latLng.lng()});
    });
    this.$store.commit('setMap', this.map);

  },
  watch: {
    user(value) {
      if(value) {
        let icon = {
            url: '/dist/user.png?1618a6935fbdc48261c425f3d6f85e3b',
            size: new google.maps.Size(20, 35),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        };
        let position = new google.maps.LatLng(this.user.lat, this.user.lng);
        this.userMarker = new google.maps.Marker({
          position: position,
          icon: icon,
          title: this.user.name,
          map: this.map
        });
        let self = this;
        let infowindowContent = document.getElementById('infowindow-content');
        let infowindow = new google.maps.InfoWindow();
        this.userMarker.addListener('click', function(event) {
          infowindow.setContent(infowindowContent);
          infowindowContent.children['name'].textContent = self.user.name;
          infowindowContent.children['phone'].textContent = self.user.phoneNumber;
          infowindowContent.children['address'].textContent = self.user.address;
          infowindowContent.children['distance'].textContent = self.car.distance;
          infowindowContent.style.display = 'block';
        });
      } else {
        if(this.userMarker) {
            this.userMarker.setMap(null);
            this.userMarker = null;
        }
      }
    }
  },
  methods: {
  	onSearch() {
  		
  	}
  }
}
</script>

<style lang="css" scoped>
/* map */
div#map {
  height: 500px;
  width: 100%;
}
#infowindow-content {
  display: none !important;
}
.search-box {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
	width: 65%;
}

#search-input {
	float: left;
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 80%;
}

.search-box button {
	float: left;
	width: 20%;
	padding: 1px;
}
</style>