<template>
	<div class="col-md-12 col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h3>List User Requests</h3>
                </div>
            </div>
            <div class="panel-body">
                <!-- <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="group-btn-action pull-left">
                            <button type="button" class="btn btn-large btn-warning btn-flat" onclick="clearAllRequest(this);" id="clear">Remove All</button>
                        </div>
                        <div class="pull-right notify">
                            <img src="/images/bell.png" width="35" alt="Notification icon">
                            <b class="notify-num">0</b>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12 col-lg-12" align="center"> 
                        <div class="table-container">
                            <table class="table table-user">
                                <thead>
                                    <tr class="text-center">
                                        <th>#ID</th>
                                        <th>#Name</th>
                                        <th>#Phone</th>
                                        <th class="divider">#Address</th>
                                        <th class="divider">#Status</th>
                                        <th>#Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <point_detail 
                                        v-for="point in points"
                                        :key="point.id"
                                        :point="point">
                                    </point_detail>
                                    <modal></modal>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import point_detail from './point-detail.vue';
import modal from './modal.vue';

export default {

  name: 'points',
  props: ['points'],
  data () {
    return {

    }
  },
  methods: {
    
  },
  components: {
    point_detail,
    modal
  }
}
</script>

<style lang="css" scoped>
.table-container {
  max-height: 500px;
  overflow-y: auto;
  margin-top: 15px;
}
.table-driver, .table-user {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
</style>