<template>
	<tr :data-status="point.status" :id="'tr-'+point.id">
        <td>{{point.id}}</td>
        <td>{{point.customerName}}</td>
        <td class="phone">{{point.phoneNumber}}</td>
        <td class="request divider">{{point.address}}</td>
        <td :class="status + ' divider'">
            <p :class="status">{{status}}</p>
        </td>
        <td v-if="status == 'verified'">
            <button v-if="isBusy == 0" type="button" class="btn btn-sm btn-flat btn-info btn-view" @click="openModal" :id="'btn-'+point.id" :disabled="isDisabled">View</button>
        </td>
        <td v-else></td>
    </tr>
</template>

<script>
import modal from './modal.vue';
import {HTTP} from '../http.js';

export default {

  name: 'point-detail',
  props: ['point'],
  data () {
    return {
      isBusy: this.$store.getters.car.isBusy,
    }
  },
  methods: {
    openModal() {
        this.$store.commit('setPoint', this.point);
        this.$store.commit('setShowModal', true);
    }
  },
  watch: {
    isBusy(value) {
    },
  },
  computed: {
  	isDisabled() {
      return this.$store.getters.user != null;
    },
    status () {
        switch (this.point.status) {
            case 4: 
                return 'finished';
                break;
            case 3: 
                return 'begin';
                break;
            case 2:
                return 'verified';
                break;
            case 1:
                return 'processing';
                break;
            default:
                return 'ready';
                break;
        }
    },
    type () {
        switch(this.point.carType) {
            case 1:
                return 'Normal';
                break;
            case 2: 
                return 'Premium';
                break;
        }
    }
  },
  components: {
    modal
  }
}
</script>

<style lang="css" scoped>
tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}

tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}

tbody tr.selected td {
	background-color: #eee;
}

tr td:first-child {
	width: 38px;
}

p.Normal {
	color: #23D30B;
}

p.Premium {
	color: #E5A815;
}

</style>