<template>
  <div id="app">
    <navbar></navbar>
    <div class="container">
      <div class="row">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>

import navbar from './components/navbar.vue';

export default {
  name: 'app',
  data () {
    return {
    }
  },
  components: {
    navbar
  },
}
</script>

<style>
body{
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('./assets/images/background.png');
}

a:hover {
  cursor: auto !important;
  color: #8AE3B3 !important;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
  margin-top: 15px;
}
.table-driver, .table-user {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

#app {
  margin-top: 60px;
}
.radio-box, .check-box {
  position: relative;
}

.radio-box input[type="radio"], .check-box input[type="check"] {
  opacity: 0;
}

.radio-box label, .check-box label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-box label:before, .check-box label:before {
  content: '';
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #bbb;
  background-color: #fff;
}

.radio-box input[type="radio"]:checked + label:before, .check-box input[type="check"]:checked + label:before {
  border-color: #2BBCDE;
  background-color: #2BBCDE;
}

.radio-box input[type="radio"]:checked + label:after, .check-box input[type="check"]:checked + label:after {
  top: 3px;
  left: 3.5px;
  content: '\e013';
  color: #fff;
  font-size: 11px;
  font-family: 'Glyphicons Halflings';
  position: absolute;
}


.table-user p.ready {
  color: #15D8EF;
}

.table-user p.processing {
  color: #0E2DCB;
}

.table-user p.verified {
  color: #CDA20E;
}

.table-user p.begin {
  color: #32EC29;
}

.table-user p.finished {
  color: #9D0909;
}

.table-user td.type > p.premium, .table-driver .media .summary p.type.premium {
  color: #EC971F;
}

.table-user td.type > p.normal, .table-driver .media .summary p.type.normal {
  color: #31708F;
}

.table-user p.done {
  color: #da1a1a;
}

.table-user .divider {
    border-right: 1px dashed #DDDDDD;
}

.table-user thead tr > th, .table-user tbody tr > td {
    text-align: center; 
}

.table-user td.request {
  max-width: 250px;
  text-align: left;
}

.table-user td.regDate {
  width: 95px;
}

.table-user td > p {
  margin: 0px;
} 

/* button */
.btn-flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

/*navbar-nav nav-admin*/
.navbar-nav.nav-admin {
  margin-left: 275px;
}

.navbar-nav.nav-admin li:first-child > a {
  padding: 12px 0px;
}
</style>
